<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iplay.concatenate" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".OpponentChooser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_opponent_chooser"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".JoinGameAcitvity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_join_game_acitvity"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".HostGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_host_game"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".GamePlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_play"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iplay.concatenate.HomeActivity" />
        </activity>
    </application>

</manifest>
